/* RESET STYLES */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  font-size:16px;
  font-weight:inherit;
  font-style:normal;
  vertical-align:baseline;
  background:transparent;
  outline:0;
}

* {
  box-sizing: border-box;
}
  /* body, html {
  margin: 0 auto;
  padding: 0;
} */

:root {
  --main-dark-color: #6c648B; /* navlinksbg, h1? footerbg maintext, contacticons */
  --main-light-color: #cae4db; /*CONTRAST smalltext */
  --accent-bright-color: #cda34f; /* button? */
  --accent-dull-color: #8F8AA2; /* bg, lessimportanticons */
  --almost-white-color: rgb(225, 224, 226); /* whitespace */
  --almost-black-color: rgb(21, 12, 49); /* h1? maintext */ 
}

body {
height: auto;
background-color: var(--accent-dull-color);
}

main {
  box-shadow: 0 1px 8px var(--almost-black-color);
  max-width: 900px;
  margin: auto;
}

  

.navlinks {
  width: 100%;
  /* height: 3.9rem; */
  background-color: var(--main-dark-color);
  overflow: auto;
  position: fixed;
  margin: auto;
  vertical-align: middle;
}

.navlinks a {
  float: right;
  color: var(--main-light-color);
  text-decoration: none;
  width: 20%; 
  text-align: center;
  padding: 1.2rem 1rem;
  font-size: 1.2rem;
  font-family: 'Quicksand';
  font-variant: small-caps;
  letter-spacing: .1em;
  transition: 500ms ease; /* double check */
  vertical-align: middle;
}


.navlinks a:hover {
  background-color: var(--main-light-color);
  color: var(--main-dark-color);
  }


@media screen and (max-width: 500px) {
  .navlinks a {
    float: none;
    margin: auto;
    display: block;
    width: 33%;
    text-align: center;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  }

 
  .anchor {
    display: block;
    height: 3rem; 
    margin-top: -3rem; 
    visibility: hidden;
  }

h1 {
font-size: 3rem;
/* font-variant: small-caps; */
font-weight: normal;
padding: .5rem;
color: var(--main-dark-color);
text-shadow: 0 3px 3px var(--main-light-color);
font-family: 'Sofia';
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  /* letter-spacing: .1em; */
  animation: 
    typing 3s steps(30, end); 
}

@media screen and (max-width: 500px) {
  h1 {
    padding: 2rem;
    font-size: 2.5rem;
   }
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}



h3 {
font-family:  'Quicksand';
font-variant: small-caps;
letter-spacing: .1em;
font-size: 2rem;
color: var(--almost-black-color);
text-shadow: 0 3px 3px var(--main-dark-color);
text-align: center;
margin: 0;
padding-bottom: 2rem;
    }


  
.snowflake {
    height: 4rem;
    margin: 0;
    padding: 0rem 3rem;
    vertical-align: middle;
  }


.sunset {
   background-image:
     url(images/sunset1.jpg);
   background-repeat: no-repeat;
   max-width: 100%;
   background-size:cover;
   background-position: center;
   padding: 5rem 4rem;
  }

  @media screen and (max-width: 500px) {
    .sunset {
      padding: 12rem 4rem 5rem 4rem;
     }
  }

.profilepic {
  border-radius: 50%;
  height: 12rem;
  /* filter: sepia(20%) grayscale(60%); */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.projectpic {
  border-radius: 1rem;
  height: 12rem;
  margin: 0rem 1rem;    
}

.projectpic:hover {
  box-shadow: 0 1px 8px var(--almost-black-color);
  }

.contactpic {
  margin: 0rem 1rem;
}

.contactpic:hover {
  background-color;
}


.about, .contact {
  background-color: var(--main-light-color);
  padding: 2.5rem 5rem;
  margin: auto;
  font-family: 'Quicksand';
  font-size: 1.2rem;
  color: var(--almost-black-color);
  line-height: 2rem;
  text-align: justify;
}

.projects {
  background-color: var(--almost-white-color);
  padding: 2.5rem 5rem;
  margin: auto;
  font-family: 'Quicksand';
  font-size: 1.2rem;
  color: var(--almost-black-color);
  line-height: 2rem;
  text-align: justify;
}


footer {
    font-family: 'Quicksand';
    font-size: 1rem;
    color: var(--main-light-color);
    padding: .6rem;
    text-align: center;
    background-color: var(--main-dark-color);
  
}